<h1>Adresser</h1>
<form name="adresser" ng-submit="submitAdresse()" class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="gateadresse">Gateadresse:</label>
        <div class="controls">
            <input id="gateadresse" type="text" ng-model="adresse.adressenavn" required />
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="postnummer">Postnummer:</label>
        <div class="controls">
            <input id="postnummer" name="postnummer" type="text" ng-model="adresse.postnummer" name="aPostnummer" ng-minlength="4" ng-maxlength="4"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="poststed">Poststed:</label>
        <div class="controls">
            <input id="poststed" type="text" ng-model="adresse.poststed" required name="aPoststed"/>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <button ng-disabled="adresser.$invalid">Lagre</button>
        </div>
    </div>


</form>
<ul>
    <li ng-repeat="adresse in adresseListe">
        Gateadresse: {{adresse.adressenavn}}, Poststed: {{adresse.poststed}}, Postnummer: {{adresse.postnummer}} <button ng-click="slettAdresse(adresse)">Slett</button>
    </li>
</ul>