<h1>Personer</h1>
<form name="personer" ng-submit="submitPerson()">
    <label>Navn:<br/>
        <input type="text" ng-model="person.navn" required />
    </label>

    <label>
        Fodselsdato: <br />
        <input type="date" ng-model="person.fodselsdato" required />
    </label>

    <label>
        Info: <br />
        <input type="text" ng-model="person.info" />
    </label>

    <label>
        Adresse: <br />
        <select ng-model="person.adresse.id" ng-options="adresse.id as adresse.adressenavn for adresse in adresseListe">
            <option value="">Ny</option>
        </select>
    </label>

    <label>
        Adressenavn:
        <input type="text" ng-model="person.adresse.navn" ng-hide="person.adresse.id" />
    </label>


    <button ng-disabled="personer.$invalid">Lagre</button>
</form>
<ul>
    <li ng-repeat="person in personListe">
        Navn: {{person.navn}}, Fdato: {{person.fodselsdato}}, Info: {{person.info}} <button ng-click="slettPerson(person)">Slett</button>
    </li>
</ul>